* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: #290b24;
    text-align: center;
}

p {
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

center p {
    font-size: 18px;
    color: #333;
}

div[ng-app="myApp1"] {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.cl1 {
    /* width: 65em; */
    border: none; 
    padding: 30px 60px;
    margin: 20px auto; 
    background: linear-gradient(rgba(235, 179, 226, 0.5) 30%, rgba(234, 189, 227, 0.7));
    border-radius: 15px; 
    display: block;
}
