* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.logo img {
    width: 47px;
    height: auto;
}

body {
    background-color: #290b24;
    text-align: center;
}

p {
    margin: 10px 0;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

center p {
    font-size: 18px;
    color: #333;
}

div[ng-app="myApp1"] {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.cl1 {
    /* width: 65em; */
    border: none; 
    padding: 30px 60px;
    margin: 20px auto; 
    background: linear-gradient(rgba(235, 179, 226, 0.5) 30%, rgba(234, 189, 227, 0.7));
    border-radius: 15px; 
    display: block;
}

/* Main */
/* Header */
header.sticky {
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 0 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    background: rgb(233, 191, 237);
    border-bottom: 1px solid rgba(211, 211, 211, 0.274);
    transition: all .45s ease;
}

button{
    margin:10px auto;
    color: rgb(13, 1, 13);
    background: rgb(233, 191, 237);
    padding: 20px 20px;
    width: 120px;
    border-radius: 100px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

footer {
    background-color: #050101;
    color: white;
    padding: 10px 0;
    margin-top: 20px;
}

/* Navbar styles */


.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.button a {
    color:  #290b24;
}


.navbar, .navlist {
    padding: 0;
    margin: 0;
}

.navbar {
    height: 100%;
}

.navlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
}

.navlist a {
    font-size: 1.2rem;
    font-weight: 500;
    transition: all .3s ease;
}
