<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="homepage.css">

    <title>LoFE</title>
</head>
<body>
    <script src="./angular.js"></script>
    <div ng-app="myApp" ng-controller="myCtrl">
        <p><center>Nama Kelompok 1 : LoFE</center></p>
        <p><center>Nama Anggota 1 : <input type="text" ng-model="name1" ></center> </p>
        <p><center>Nama Anggota 2 : <input type="text" ng-model="name2 + lastname2" ></center> </p>
        <p><center>Nama Anggota 3 : <input type="text" ng-model="name3 + lastname3" ></center> </p>
        <p><center>Nama Anggota 4 : <input type="text" ng-model="name4 + lastname4" ></center> </p>
        <p><center>{{name + ' ' + lastname}}</center></p>
    </div>

    <script>
        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.name1 ="Elsie";
            $scope.name2 = "Jechenthia Maria";
            $scope.lastname2 = "Taso";
            $scope.name3 = "Chelsia Cindeleria ";
            $scope.lastname3 = "H";
            $scope.name4 = "Widya";
            $scope.lastname4 = " Khaerunnisyah";
        });
    </script>

</body>
</html>