<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="homepage.css">
    <link href='logo.png' rel='icon'>
    <title>LoFE</title>

    <script src="https://kit.fontawesome.com/8f441d49ca.js" crossorigin="anonymous"></script>
</head>
<body>
    <!--Header-->
    <header class="sticky">

        <div class="hamburger">
            <i class="fa-solid fa-bars"></i>
        </div>

        <div class="navbar">
            <ul class="navlist">
                <li><a href="index.html">Home</a></li><!--ganti href saat sudah selesai-->
                <li><a href="#about">About</a></li><!--ganti href saat sudah selesai-->
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

    </header>

    <script src="./angular.js"></script>
    <center><img src="logo.png" 
        ></center>
    
    <section class="about" id="about">
        <div class="about-text">

    <div ng-app="myApp1" ng-controller="myCtrl1">
        <div  class ="title">
        </div>
        
        <div class = "cl1">
        <p><center> Masukkan NIM Anda : </center></p>
        <p><center> NIM: <input type="text" ng-model="nim"></center></p>
        <p><center> {{nim}}</center></p>
        <p><center> Masukkan Nama Lengkap Anda : </center></p>
        <p><center> Nama saya: <input type="text" ng-model="name"></center></p>
        <p><center> {{name + ' ' + last}} </center></p>
        <p><center> Masukkan Hobby Anda : </center></p>
        <p><center> Hobby: <input type ="text" ng-model="hobby"></center></p>
        <p><center> {{hobby}} </center></p>
        <p><center> Masukkan Cita - Cita Saya : </center></p>
        <p><center> Cita-cita: <input type="text" ng-model="cita"></center></p>
        <p><center> {{cita}}</center></p>
        <p><center> Masukkan Bahasa Pemrograman yang Dikuasai : </center></p>
        <p><center> Bahasa pemograman yang dikuasai: <input type="text" ng-model="bahasa"> </center></p>
        <p><center> {{bahasa}}</center></p>
        <br>
        </div>

        <div class= "cl2">
        <p><center> Masukkan NIM Anda : </center></p>
        <p><center>NIM Saya: <input type="text" ng-model=" nim3"></center> </p>
        <p><center>{{nim3}}</center> </p>
        <p><center> Masukkan Nama Lengkap Anda : </center></p>
        <p><center>Nama Saya: <input type="text" ng-model=" name3"></center> </p>
        <p><center>{{name3 + ' ' + last3}}</center> </p>
        <p><center> Masukkan Hobby Anda : </center></p>
        <p><center>Hobby Saya: <input type="text" ng-model=" hobby3"></center> </p>
        <p><center>{{hobby3}}</center> </p>
        <p><center> Masukkan Cita-Cita Anda : </center></p>
        <p><center>Cita-cita Saya: <input type="text" ng-model=" cita3"></center> </p>
        <p><center>{{cita3}}</center> </p>
        <p><center> Masukkan Bahasa Pemograman Yang Anda Kuasai : </center></p>
        <p><center> Bahasa Pemograman yang Dikuasai: <input type="text" ng-model=" bahasa3"></center> </p>
        <p><center>{{bahasa3}}</center> </p>
        <br>
        </div>

        <div class="cl3">
        <p><center> Masukkan NIM Anda : </center></p>
        <p><center> NIM Saya : <input type="text" ng-model="nim2"></center></p>
        <p><center> {{nim2}}</center> </p>
        <p><center> Masukkan Nama Lengkap Anda : </center></p>
        <p><center> Nama Saya : <input type="text" ng-model="name2 + last2"></center></p>
        <p><center> {{name2 + ' ' + last2}}</center> </p>
        <p><center> Masukkan Hobby Anda : </center></p>
        <p><center> Hobby Saya : <input type="text" ng-model="hobby2"></center></p>
        <p><center> {{hobby2}}</center> </p>
        <p><center> Masukkan Cita - Cita Saya : </center></p>
        <p><center> Cita - Cita Saya : <input type="text" ng-model="cita2"></center></p>
        <p><center> {{cita2}}</center> </p>
        <p><center> Masukkan Bahasa Pemrograman yang Dikuasai : </center></p>
        <p><center> Bahasa yang Saya Kuasai : <input type="text" ng-model="bahasa2"></center></p>
        <p><center> {{bahasa2}}</center> </p>
        <br>
        </div>
        <div class="cl4">
        <p><center> Masukkan NIM Anda : </center></p>
        <p><center> NIM Saya : <input type="text" ng-model="nim4"></center></p>
        <p><center> {{nim4}}</center> </p>
        <p><center> Masukkan Nama Lengkap Anda : </center></p>
        <p><center> Nama Saya : <input type="text" ng-model="name4 + last4"></center></p>
        <p><center> {{name4 + ' ' + last4}}</center> </p>
        <p><center> Masukkan Hobby Anda : </center></p>
        <p><center> Hobby Saya : <input type="text" ng-model="hobby4"></center></p>
        <p><center> {{hobby4}}</center> </p>
        <p><center> Masukkan Cita - Cita Saya : </center></p>
        <p><center> Cita - Cita Saya : <input type="text" ng-model="cita4"></center></p>
        <p><center> {{cita4}}</center> </p>
        <p><center> Masukkan Bahasa Pemrograman yang Dikuasai : </center></p>
        <p><center> Bahasa yang Saya Kuasai : <input type="text" ng-model="bahasa4"></center></p>
        <p><center> {{bahasa4}}</center> </p>
        <br>
        </div>
    </div>

    <script> 
        var app = angular.module('myApp1', []);
        app.controller('myCtrl1', function($scope) {
            $scope.name="Elsie";
            $scope.last=" Elsie"; 
            $scope.nim=" 535220076";
            $scope.hobby= "Mendengarkan lagu";
            $scope.cita= "Entrepreneur";
            $scope.bahasa="C++, Java, HTML, CSS, Python, Oracle SQL";

            $scope.nim3 = "535220081";
            $scope.name3 = "Jechenthia Maria";
            $scope.last3 =" Taso";
            $scope.hobby3 = "Memasak, Menari, Menyanyi";
            $scope.cita3 = " Pramugari";
            $scope.bahasa3 = "C++, Java, HTML, CSS, Python, Oracle SQL";

            $scope.name2= "Chelsia Cindeleria";
            $scope.last2= " Herwanto"; 
            $scope.nim2=" 535220083";
            $scope.hobby2= "Menonton Drachin, Drakor";
            $scope.cita2= "Jadi orang yang SUKSES";
            $scope.bahasa2="C++, Java, Oracle SQL, Python, HTML, CSS";

            $scope.name4="Widya";
            $scope.last4=" Khaerunnisyah"; 
            $scope.nim4=" 535220262";
            $scope.hobby4="Membaca Komik";
            $scope.cita4="Programmer";
            $scope.bahasa4="C++, Java, Oracle SQL, Python, HTML, CSS";

        });
    </script>
</script>
</div>
</body>
</html>