
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img{
    max-width: 500px;
    float: left;
    margin-right: 20px;
}

body{
    background-color: #290b24;
    display: flex;
    align-items: center;
    min-height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.wrapper{
    margin: 150px auto;
    width: 70%;
}
.text-box{
    color: rgb(233, 191, 237);
}
.text-box h2{
    text-transform: uppercase;
    font-size: 70px;
    font-family: "Montserrat", sans-serif;
}
.text-box p{
    font-size: 25px;
    font-family: "Inter", sans-serif;
    line-height: 150%;
}
.button{
    margin:10px auto;
    color:  #290b24;
    background:  rgb(233, 191, 237);
    padding: 20px 20px;
    width: 120px;
    border-radius: 100px;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.button a {
    color:  #290b24;
}
hr {
    position: relative;
    border: 0;
    clear:both;
    display:block;
    align-items: center;
    width: 95%;
    height: 2px;
    margin-top: 35px;
  }
  
  td{
    color: whitesmoke;
    text-transform:capitalize;
    font-family:"Inter", "sans-serif";
    font-size: 25px;
    padding-right: 15px;
    padding-top: 15px;
    vertical-align: top;
  }

  footer {
    color:  rgb(233, 191, 237);
    padding: 10px 0;
    margin-top: 20px;
}